.container{
    max-width: 1140px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
/* shared style */
.orange-color{
    color:  #E95A08;
}

.btn{
    color: rgba(255, 255, 255, 1);
    background-color: #E95A08;
    font-weight: 600;
    border: none;
    padding: 20px 80px;
    width: 100%;
}

/* nav style */
.navbar{
    justify-content: space-between;
    align-content: center;
}
.menu{
    gap: 30px;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
}
ul{
    gap: 30px;
}
.cart{
    align-items: center;
    justify-content: center;

}
.banner{
    align-items: flex-end;
    gap: 50px;

}
.banner-content{
    max-width: 570px;

}
.banner-content h1{
    font-size: 4rem;
    font-weight: 700;
    color: banner-content;
    margin: auto 5px;
}
.banner-content, .plant-sec-content p{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}


/* plant section */
.plant-section{
    margin-top: 80px;
}

.plant-sec-content{
    text-align: center;
}
plant-sec-content p{
    max-width: 885px;
    height: 54px;
}
.plants-sec-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}
.plant-card{
    text-align: center;
}

/* lover content */
.lover-content{
    max-width: 540px;
}
.lover-content ul li{
    list-style: disc;
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}
.lover-content h2{
    font-size: 3.1rem;
    font-weight: 700;
    text-align: left;
}

.lover-section{
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 150px auto;

}
.lover-img{
    width: 70%;
}
.plant-lover-sec{
    position: relative;
}
.badge{
    position: absolute;
    bottom: 20px;
    transform: scale(.3);
}
/* latest deal section */


.all-deals{
    display: grid;
    grid-template-columns: 1fr 2fr;

   
}

.left-deal{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.leftdeal-1{
    background-image: url(../assets/deal-bloom.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%; */
    text-align: center;
    padding: 100px ;
    flex: 1;

}


.leftdeal-2{
    background-image: url(../assets/deal-ana.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px ;
    flex: 1;

}
.rightdeal{
    background-image: url(../assets/deal-zabo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    

}

/* join section */

.join-section{
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    max-width: 1440px;
    height: 530px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mailpart{
    width: 640px;
    height: 50px;
    padding: 0;
    outline: none;
    border: none;
    
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    
}
.sbtn{
    margin-left: 0;
    height: 50px;
    color: white;
    background-color: rgba(233, 90, 8, 1);
    font-weight: 600;
    padding: 22px 52px;
    border: none;
    height: 50px;

    /* transform: translateX(1px); */
}



/* footer section */
footer{
    justify-content: space-around;
    margin: 30px;
    flex: 1;

}
.part1 p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.part2 ul, .part3 ul{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.part4 img{
    margin-right: 10px;
}







@media screen and (max-width: 576px){
    .menu-li{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .plants-sec-cards{
        grid-template-columns: repeat(2,2fr);
    }

}